* {
  margin: 0;
  padding: 0;
  background-color: #EEF5F5;
  font-family: "Open Sans", arial, sans-serif;
}

#left_nav_wrapper {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: #555555;
  padding: 25px;
  color: #f0f0f0;
}

#content_wrapper {
  margin-left: 300px;
  padding: 25px;
}

#area_chart {
  width: 600px;
  height: 500px;
}

/*  Charts  */

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis text {
  margin-top: 10px;
  font-size: 12px;
}

.y.axis text {
  font-size: 12px;
}

.tick line {
  opacity: 0.3;
}


.area { 
  fill: #4ca3bd; 
  opacity: 0.7;
}

.felony_area { 
  fill: #bd4ca3; 
  opacity: 0.5;
}

.line {
  stroke: #000;
}

.x_label,
.y_label {
  font-variant: small-caps;
  /*transform: translate(-50%, 0);*/
}

